@import "../../assets/variables.scss";

.header-container {
  margin: 0 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .tabs-container {
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }
}

.border-bottom {
  border-bottom: 1px solid $white;
  width: 100%;
  display: block;
}
