@import "../../assets/variables.scss";

.games-container {
  margin: 0 5%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
    .game-container {
      text-align: center;
      width: 240px;
      margin: 0 8px;
    }
  }
}
