@import "../../assets/variables.scss";

.games-container {
  margin: 30px 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .games-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
  }
}
